@charset "utf-8";

    body {
    font-family: Times New Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    background-color: #ffffff;
    line-height: 24px;
    }


    header {
      background-color: #FFD700;
      color: #000000;
      padding: 20px;
      text-align: center;
      position: relative;
    }

    .search-bar {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .search-bar input[type="text"] {
      padding: 5px;
      border-radius: 0px;
      border: none;
      width: 200px;
    }

    .search-bar input[type="submit"] {
      padding: 5px 10px;
      background-color: #FF8C00;
      border: none;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
    }

    nav {
    background-color: #FF8C00;
    color: #fff;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    width: 100px;
    height: 290px;
    position: absolute;
    left: -1px;
    float: left;
    top: 200px;
    }

    nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    nav ul li {
      margin-bottom: 30px;
    }

    nav ul li a {
      color: #fff;
      text-decoration: none;
    }

    main {
      margin-left: 120px;
      padding: 20px;
      margin-top: 10px;
    }
    .form-box {
      border: 1px solid orange;
      padding: 20px;
      width: 400px;
      margin: 0 auto;
    }

    footer {
    background-color: #FFD700;
    color: #000000;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 0px;
    }
